<div class="footer">
  <div class="footer-links">
    <p>© 2019 - 2020 Lulubio - Tous droits réservés</p>
    <a> <%= link_to "Mentions légales", mentions_path %></a>
    <a target="_blank" href="https://www.facebook.com/lulubio47/"><i class="fab fa-facebook"></i></a>
  </div>
</div>
