<div class="container text-center">
  <%= image_tag "luciole" %>

  <h1>Veuillez nous excuser</h1>
  <p>Cette page est en cours de construction. Revenez plus tard ! </p><br>

  <%= link_to "Retour à l'accueil", root_path %>
</div>
