<div class="container">

  <h3>Informations Légales</h3>
  <ul>
    <li>Lulubio est une SARL au capital de 4000 €.</li>
    <li>Société immatriculée au RCS d'Agen sous le numéro : 850288325</li>
    <li>Numéro RCS : 850288325</li>
    <li>Numéro SIRET : 85028832500010</li>
    <li>Numéro de TVA Intra Communautaire : FR18850288325</li><br>

    <li><p>Hébergeur : Heroku <br>
      50 Fremont St. <br>
      Suite 300 <br>
      San Francisco, CA <br>
      94105</p></li>

    <li>Adresse : Lulubio, 55 Grande Rue, 47700 Casteljaloux</li><br>

    <li>Pour toute question supplémentaire, n'hésitez pas à nous contacter au 05 53 94 18 96 ou par mail à l'adresse lulubio47@gmail.com.</li>
  </ul>

  <h3>Traitement des données</h3>
    <p>Les données recueillies par Lulubio via le formulaire de contact ne seront jamais revendues à des tiers et ne servent qu'à vous répondre. Vous pouvez à tout moment nous contacter pour demander la suppression de vos coordonnées de notre base de données.
    </p>
</div>


