<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} - Présentation" %>

<div class="wrapper">
  <h1>L'équipe</h1>
</div>

<div class="container text-center">
  <%= image_tag "equipe", style:"max-height: 600px;
    max-width: 100%;
    margin-bottom: 30px"%>

  <p>Yann, Lucie et Véronique sont heureux de vous accueillir et de vous conseiller du mardi au samedi chez Lulubio !</p>

  <%= link_to "Retour à l'accueil", root_path %>
</div>

