<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} - Présentation" %>

<div class="wrapper">
  <h1>L'équipe</h1>
</div>

<div class="container text-center">
  <%= image_tag "equipe", style:"max-height: 600px;
    max-width: 100%;
    margin-bottom: 30px"%>

  <p>LULUBIO c’est une affaire de famille :</p>
  <p>Lucie (Lulu), Yann (son mari), et Véronique (sa maman).</p>
  <p>Nous avons le souhait de découvrir et faire découvrir des produits de qualité, simples et sains. Nous tenons également à vous accueillir et vous conseiller dans la bonne humeur, car pour nous le commerce est avant tout une histoire d’échange et de partage ! </p>

  <%= link_to "Retour à l'accueil", root_path %>
</div>

