<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} - Nos produits" %>

<div class="wrapper">
  <h1>Nos produits</h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h4>Par catégories</h4>
        <ul>
          <li>Epicerie salée</li>
          <li>Epicerie sucrée</li>
          <li>Cosmétiques</li>
          <li>Maison</li>
          <li>Voir tous les produits</li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h4>Par marques</h4>
        <ul style="list-style-type: none">
          <li>Epicerie salée</li>
          <li>Epicerie sucrée</li>
          <li>Cosmétiques</li>
          <li>Maison</li>
          <li>Voir tous les produits</li>
        </ul>
    </div>
  </div>

  <%= link_to "Retour à l'accueil", root_path %>
</div>

