<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} - Erreur 500" %>

<div class="wrapper">
  <h1>Erreur 500</h1>
</div>

<div class="container text-center">
  <%= image_tag "luciole", style:"max-width: 40px; margin-bottom: 30px"%>

  <p>Oups ! Une erreur s'est produite.</p>

  <h5><a href="/">Cliquez ici pour retourner sur la page d'accueil de Lulubio.</a></h5>

</div>
