<div class="wrapper">
  <h1>Erreur 404</h1>
</div>

<div class="container text-center">
  <%= image_tag "luciole", style:"max-width: 40px; margin-bottom: 30px"%>

  <p>Cette page n'existe pas ou n'existe plus.</p>

  <h5><a href="/">Cliquez ici pour retourner sur la page d'accueil de Lulubio.</a></h5>

</div>
