.container {
  margin-bottom: 20px;
  ul {
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin-bottom: 20px;
  }
}

.product-container {
  .row {
    margin-bottom: 40px;
  }
}


