
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Message de : <%= @contact.name =%> </p>
    <p>Répondre à : <%= @contact.email =%></p>
    <p>Contenu : <br>
    <%= @contact.message =%>
    </p>
  </body>
</html>
