<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Lulubio a bien reçu votre message. Nous nous efforçons d'y répondre dans les meilleurs délais !</p>
    <p>A très bientôt</p>
    <p>Lulubio</p>
  </body>
</html>
